body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    justify-content: left;
    margin-left: 10%;
    margin-right: 10%;
}

.guessField{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unguessed{
    width: 5rem;
    height: 5rem;
    background-color: #ff7b00;
    border: 5px solid black;
    border-radius: 15px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.unguessed:hover{
    background-color: lightsalmon;
}

.guessed{
    width: 5rem;
    height: 5rem;
    background-color: lightslategray;
    border: 5px solid black;
    border-radius: 15px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#livesRemaining{
    margin: 3rem;
    font-size: 3rem;
}